html
  text-size-adjust 100%
  word-spacing 1px

body
  margin 0
  padding 0

*
*:before
*:after
  margin 0
  box-sizing border-box

input
select
textarea
  outline none
  margin 0

select
  appearance none

button
  outline none
  box-shadow none
  border none

a
button
  cursor pointer

blockquote
  margin 0
  text-align left

p
  margin-top 0
  text-align left

h1
h2
h3
h4
h5
h6
  text-align left
  word-break break-word
  white-space normal
  max-width 100%

pre
  white-space pre
  display block
  max-width 100%
  width 100%
  overflow auto

code
  display inline-block
  vertical-align top
  overflow auto

fieldset
  padding 0
  border 0
  text-align left

.ui
  *
    user-select none
