body
p
  font: 400 14px/1.66 fonts.body
  color #444

.ui
  font-family: fonts.ui

h1
.h1
  font-size 42px
  line-height 48px
  font-weight 500
  margin-bottom 40px
  background transparent
  padding 0
  border 0
  box-shadow none
  margin-top 32px

h2
  font-size 26px
  line-height 32px
  font-weight 400

h1
h2
h3
h4
h5
h6
.heading
  font-family: fonts.headings
  margin-bottom: smalls.tb * 4
  font-weight 100

h1 + h2
  margin-top: -(smalls.tb * 2)

p
  margin-bottom: smalls.tb * 4

a
  color green

  &.active
  &:active
    color red