body
p
  font: 400 18px/1.66 fonts.body

.ui
  font-family: fonts.ui

h1
  font-size 42px
  line-height 48px
  font-weight 500
  margin-top 64px

h2
  font-size 26px
  line-height 32px
  font-weight 400

h1
h2
h3
h4
h5
h6
  font-family: fonts.headings
  margin-bottom: smalls.tb * 4

h1 + h2
  margin-top: -(smalls.tb * 2)

p
  margin-bottom: smalls.tb * 4
